<!DOCTYPE html>
<html>
<head>
    <title>Experiência Profissional</title>
    <link rel="stylesheet" href="../style.css/main.css">
</head>
<body>
    <center>
        <h2>Experiência Profissional</h2>
    
        <table>
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Cargo</th>
                    <th>Período</th>
                    <th>Principais Atividades</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Zbra</td>
                    <td>Software QA Intern</td>
                    <td>01/2025 - Atual</td>
                    <td>
                        Desenvolvimento de Software;<br>
                        Garantia de qualidade dos sistemas;<br>
                        Garantia de satisfação do cliente;<br>
                        Participação em reuniões;<br>
                        Metodologias ágeis, Scrum;<br>
                        Documentação de testes;<br>
                        Documentação do sistema;<br>
                        Manutenção de board e sprint, Azure Devops;<br>
                        Desenvolvimento de manuais;<br>
                        Design UX/UI.<br>
                    </td>
                </tr>
                <tr>
                    <td>Assembleia Legislativa do Estado de Pernambuco</td>
                    <td>Estágio Engenharia de Software</td>
                    <td>08/2023 - 01/2025</td>
                    <td>
                        <br>
                        Treinamento em Java e SQL;<br>
                        Desenvolvimento de sistemas internos (Java, TypeScript);<br>
                        Participação em reuniões;<br>
                        Apresentação sobre testes automatizados (Selenium Webdriver);<br>
                        Uso de metodologias ágeis;<br>
                        Documentação de testes;<br>
                        Desenvolvimento de manuais;<br>
                        Projeto de calendário interno web;<br>
                        Front-end e Back-end;<br>
                        Design UX/UI.
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
        <p>
            <b>Linguagens:</b> Python, Java, Django, HTML/CSS.<br>
            <b>Banco de dados:</b> SQL, SQLite.<br>
            <b>Testes:</b> Teste de Sistema, Testes Automatizados, Teste Unitário, Smoke Teste, Teste E22, Selenium Webdriver, Cypress.<br>
            <b>Gerenciamento:</b> Métodos ágeis, Scrum, Trello, Jira, Azure Devops.<br>
            <b>Design:</b> Figma, Canva.
        </p>
</body>
</html>