<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formação Acadêmica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
      padding: 20px;
    }
  </style>
    <div class="container">
        <div class="form-section">
            <h2 class="text-center mb-4">Formação Acadêmica</h2>
            <ol class="pl-3">
                <li class="mb-3">
                    <strong>Graduação (Em Andamento):</strong> <br>
                    Senac – Análise e Desenvolvimento de Sistemas <br>
                    <small class="text-muted">Fev/2025 – Jun/2026</small>
                </li>
                <li>
                    <strong>Graduação (Trancado):</strong> <br>
                    CESAR School – Ciências da Computação <br>
                    <small class="text-muted">Fev/2022 – 2024</small>
                </li>
            </ol>
        </div>
    </div>

</body>
</html>
