<!DOCTYPE html>
<html>
<head>
    <title>Formação</title>
    <link rel="stylesheet" href="../style.css/main.css">
</head>
<body>
    <center>
        <h2>Formação Acadêmica</h2>
        <ol>
            <li>
                <b>Graduação (Em Andamento):</b> Senac - Análise e Desenvolvimento de Sistemas (02/2025 - 06/2026) 
            </li>
            <li>
                <b>Graduação (Trancado):</b> CESAR School - Ciências da Computação (02/2022 - 2024)
            </li>
        </ol>
    </center>
</body>
</html>