<!DOCTYPE html>
<html>
<head>
    <title>Habilidades Técnicas</title>
    <link rel="stylesheet" href="../style.css/main.css">
</head>
<body>
    <center>
        <h2>Habilidades Técnicas</h2>
        <ul>
            <b>Linguagens:</b> Python, Java, Django, HTML/CSS.<br>
            <b>Banco de dados:</b> SQL, SQLite.<br>
            <b>Testes:</b> Teste de Sistema, Testes Automatizados, Teste Unitário, Smoke Teste, Teste E22, Selenium Webdriver, Cypress.<br>
            <b>Gerenciamento:</b> Pacote Office, Métodos ágeis, Scrum, Trello, Jira, Azure Devops.<br>
            <b>Design:</b> Figma, Canva, Prototipação. <br>
            <b>Soft Skills:</b> Comunicação, Organização, Criatividade, Gestão de tempo, Proatividade, Resolução de problemas.
        </ul>
    </center>
</body>
</html>