<!DOCTYPE html>
<html>
<head>
    <title>Identificação</title>
    <link rel="stylesheet" href="../style.css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <center>
        <h2>Identificação</h2>
        <p>
            <i class="fas fa-envelope"> </i> brunnapontual@hotmail.com<br>
            <i class="fas fa-phone"> </i> (81) 99771-9041<br>
            <i class="fab fa-linkedin"></i> <a href="http://www.linkedin.com/in/brunnapontual">http://www.linkedin.com/in/brunnapontual</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/brunnapontual">https://github.com/brunnapontual</a><br>
            <i class="fas fa-link"></i> <a href="https://linktr.ee/brunnapontual">https://linktr.ee/brunnapontual</a>
        </p>
    </center>
</body>
</html>