<!DOCTYPE html>
<html>
<head>
    <title>Projetos e Cursos</title>
    <link rel="stylesheet" href="../style.css/main.css">
</head>
<body>
    <center>
        <h2>Projetos e Cursos</h2>
        <dl>
            <dt><b>Projeto Pessoal: Filma</b></dt>
            <dd>Plataforma Social de Avaliação de Filmes | Django, HTML/CSS, Jira, Figma | <a href="https://github.com//Filma">Repositório</a> | <a href="https://filma.my.canva.site/brunnapontual">Apresentação</a></dd>
            <dt><b>Curso: Java Programming MOOC</b></dt>
            <dd>University of Helsinki | <a href="https://github.com/brunnapontual/java-programming-mooc.fi">Exercícios</a></dd>
            <dt><b>Curso: HTML and CSS</b></dt>
            <dd>Origamid | Certificado</dd>
            <dt><b>Curso: Django</b></dt>
            <dd>Allura | Aplicado em projetos pessoais e profissionais</dd>
        </dl>
        <h3>Conquistas</h3>
        <ul>
            <li>Comunicação e Gerenciamento de Projeto</li>
            <li>Prototipação</li>
            <li>Testes e Manual de testes</li>
            <li>Design UX/UI</li>
        </ul>
    </center>
</body>
</html>