body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
p {
    color: rgb(51, 47, 47);
}
h1 {
    color: rgb(51, 47, 47);
}
h2 {
    color: rgb(51, 47, 47);
}
h3 {
    color: rgb(51, 47, 47);
}
a {
    color: rgb(51, 47, 47);
}
strong {
    color: rgb(51, 47, 47);
}
